[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ShellChron"]
	path = ShellChron
	url = https://github.com/nielsjdewinter/shellchron
[submodule "shelltrace"]
	path = shelltrace
	url = https://github.com/nielsjdewinter/shelltrace
